*,*::before,*::after{outline:none;white-space:normal;word-break:break-word;box-sizing:border-box;}
body{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";font-size:16px;line-height:1.6;color:#24292F;}
body>input,article{display:none;}
body>input:checked+article,label,details>a,hr,h1,h2,[c_up],[c_hint]{display:block;}
a{text-decoration:none;}
a,h2,h2::before{color:#0969DA;}
article,aside{bottom:0;overflow-y:scroll;background-color:#FFFFFF;}
article>label,hr,kbd,aside>label{background-color:#0F0F0F;}
article>label,kbd,aside>label,[c_up]{color:#FFFFFF;}
article,aside,article>label,[c_up]{position:fixed;top:0;right:0;}
article,aside,article>label{left:0;}
article,aside{padding:8px 16px 16px 16px;}
article>label,aside>label,pre,[c_up]{padding:8px 16px;}
[c_pre],th,td{padding:8px;}
[c_pre],table{width:100%;}
table{border-collapse:collapse;border-top:1px solid #D0D7DE;border-left:1px solid #D0D7DE;}
th,td{vertical-align:top;border-bottom:1px solid #D0D7DE;border-right:1px solid #D0D7DE;}
article>*,aside>*,details>*,article li{margin:16px 0 0 0;}
details{border-left:2px solid #D0D7DE;}
h1{margin-top:48px;font-size:26px;}
[c_pre]{font-style:italic;}
h1,article>label,[c_up]{font-weight:800;}
h2,strong,th{font-weight:600;}
ol,ul{padding:0 0 0 16px;}
ul{list-style:square;}
h2::before{content:'# ';}
aside{z-index:1;}
article{z-index:2;}
article>label{z-index:3;}
article>label,[c_up]{margin-top:0;}
[c_up]{z-index:4;width:50%;text-align:right;}
article>label,h1,[c_up],summary{text-transform:uppercase;}
aside>label,article>label,summary{cursor:pointer;}
kbd{padding:2px 6px;}
kbd,[c_pre]{border-radius:4px;}
pre{max-height:300px;background-color:#EFF1F3;}
hr{height:1px;border:none;}
[c_pre]{border:1px solid #D0D7DE;background:#FFFFFF;}
[c_danger]{border-left:2px solid #D33D3D;}
[c_hint],details{padding-left:16px;}
aside>label{font-weight:200;}
h2,aside>label{font-size:18px;}
